
#head{
	margin-right: -10px;
	background-color:RGB(0, 0, 0);
	margin-left: -10px;
	/*! margin-top: -6; */
	margin-top: -1%;
	padding-bottom: 52px;
}

#head #fb img{
	padding:33px;
	margin-left:40px;
}
#head img{
	padding:3px;
	/*! padding-right: 27; */
	/*! margin-right: -67; */
	margin-top: 20px;
	margin-left: 05px;
}
#head h1{
	font-size: 55px;
	margin-left: 229px; 
	font-family: 'Black Ops One', cursive; 
	margin-bottom: 0px; 
	margin-top: -155px; 
	/*! padding-bottom: 24px; */
	padding-top: 4px;
	color: RGBA(254, 254, 254, 0.9);
	padding-top: -16px;
}
#head h2{
	font-size: 21px; 
	margin-left: 232px; 
	font-family: 'Black Ops One', cursive;
	margin-top: -4px; 
	/*! padding-bottom: 1; */
	color: RGBA(255, 255, 255, 0.9);
}
#head h3{
	/*! font-size: 55px; */ 
	margin-left: 878px; 
	/*! font-family: 'Black Ops One', cursive; */ 
	margin-bottom: 0px; 
	margin-top: -56px; 
	/*! padding-bottom: 25; */
	color: RGBA(255, 255, 255, 0.9);
}
#content{
}
#content img{
	/*! margin-left: 722; */
	
	height: 38%;
	width: 50%;
	/*! margin-top: 19; */
	margin-left: 676px;
	margin-top: 19px;
}
#content h2{
	/*! margin-left: 40; */
	/*! margin-top: -305; */
	/*! font-size: 118; */
	/*! color: white; */
	font-family: 'Black Ops One', cursive;
	color: #b32d2d;
	font-size: 86px;
	margin-left: 101px;
	margin-top: -305px;
}
#content h3{
	margin-left: 84px;
	margin-top: -63px;
	color: white;
	font-family: 'Black Ops One', cursive;
	color: #d23232;
	margin-top: -79px;
	margin-left: 109px;
}
#foot{
	/*! background-color:RGB(0, 0, 0); */
	/*! padding-bottom: 80; */
	/*! margin-left: -9; */
	/*! margin-right: -62; */
	margin-left: 12px;
}
#foot h2{
	/*! margin-top: 1px; */ 
	/*! color: white; */
	/*! margin-left: 392; */
	/*! margin-bottom: 2px; */
	/*! padding-top: 6; */
    font-family: 'Bree Serif', serif;
	color: #050404;
	/*! text-align: center; */
	/*! margin-right: -9px; */
	font-size: 16px;
	/*! margin-left: 8px; */
}

#social{
	
	
}

#social ul{
	float:right;
	
	
	margin-top: -3%;
	margin-right: 3%;
}
#social ul li{
	float:left;
	
	
	
	
}
#social ul li a{
	
}
#social ul li a img{
	
	height:50px;
	width:50px;
}
#yt img{
	
}
#fb img{
	
}
#rat{
	
	margin-bottom: 2%;
}
#social ul li a yt img{
	height:5%;
	width:5%;
}
#social ul li a fb img{
	height:5%;
	width:5%;
}
#clock{
	font-family: 'Black Ops One', cursive;
	
	margin-top: 178px;
	margin-left: 4%;
}