/**
 * Created by Abdullah_Kabir on 12/28/2016.
 */

#body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin-left: 30%;
    margin-top: 2%;
    background-color: #ffffff;
}
#header {
    position: relative;
    height: 10%;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    line-height: 1.4em;
    background-image: url("../img/ft1.jpg");
    background-repeat: no-repeat;
}
#nav{
   z-index: 1;
   position: static;
}
#menu{
    position: relative;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
}
.right:hover{
    color: #2aabd2;
}

#logo {
    display: inline-block;
    margin-top: 2%;
    margin-left: 10px;
    height: 100px;
    width: 0;
    margin-bottom: 75px;
}

#logo img {
    display: inline-block;
    border: 2px;
    margin: 0 auto;
    width: 300px;
    position: relative;

    line-height: 1.4em;
    transition: all .2s ease-in-out;

    margin-top: 0;
    height: 150px;
}

#logo img:hover {
    transform: scale(1.1);
}

#social {
    display: inline-block;

    margin-left: 553px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#navbar-right img{
    display: inline-block;
    transition: all .2s ease-in-out;
}
#navbar-right img:hover {
    transform: scale(1.1);
}
#email {
    display: inline-block;
    font-size: 11px;
    font-family: 'My Custom Font', cursive;
    margin-bottom: 60px;
}

#email:hover {
    color: green;
}

#phone {
    display: inline-block;
    font-size: 11px;
    font-family: 'My Custom Font', cursive;
    margin-left: 40px;
}

#menu {

    /*! width: 101%; */
    /*! height: 4%; */
    height: 4%;
    width: 100%;
}

#menu img {

    margin-left: 0%;
    margin-top: 6px;
    /*! width: 60%; */
    height: 100%;
    /*! align-items: center; */
    align-content: center;
}
#ad{
    height:200px;
    width: 200px;
    margin-left: 70px;
}
#Web_index_image{
    height:200px;
    width: 200px;
    margin-left: 70px;
}

#Graphics_index_image{
    height:200px;
    width: 200px;
    margin-left: 70px;

}
#Web_index_image_div{
    float: right;
}
#social{
    width: auto;
    position: relative;
    margin: 0 auto;
    line-height: 1.4em;
    float: right;
}
#social1{
    font-family: 'My Custom Font', cursive;
    margin-top: 10%;
    /*! margin-left: 7%; */
    margin-right: 13%;
}
#form{
  margin-left: 2%;
}
#sendbt{
    float: right;
    margin-top: 5px;
}
#formname{
    width: 700px;
    color: whitesmoke;
}
#formid{
    width:700px;
    color: whitesmoke;
}
#comment{
    height:100px;
    width: 700px;
}
#sendus{
    text-align: center;
    color: whitesmoke;
}
#formdiv{
    margin-left: 0;
    float: left;
    display: inline-block;
}
#form h5{
    color: whitesmoke;
}
#Footer{
    display: inline-block;
    width: 100%;
    clear: both;
    background-color: #00113B;
    margin-top: 200px;
}
#footer img{
    display: inline-block;
}
#footer h2{
    display: inline-block;
    color: whitesmoke;
}
#last{
    text-align: center;
    margin-left: 36%;
}
#social2 ul{
    float: right;
    text-decoration: none;

}
#social2 ul li{
    float: left;
    list-style: none;
}


#footer_img{
    margin-left: 49%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s,height 2s,transform 2s;
}
#social_links{
    float: right;
    margin-top: 80px;
    margin-right: 70px;
    margin-bottom: -8px;
    text-align: center;
    color: whitesmoke;
}
#copy h2{
    text-align: center;
    background-color: #4A5980;
    margin-top: 170px;
    color: whitesmoke;
    margin-left: 0px;
    padding-top: 0px;
    font-size: 18px;
}
#android_index_heading{
    font-family: 'My Custom Font1', cursive;
}
#Web_index_heading{
    font-family: 'My Custom Font1', cursive;
}
#Graphics_index_heading{
    font-family: 'My Custom Font1', cursive;
}

#footer_img1{
    margin-left: 49%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s,height 2s,transform 2s;
}
#content2{

    height: 100%;
    width: 100%;
    margin-right: 20px;
    float: right;
    display: inline-block;

}
#circle{
    float: right;

    height: 100%;
    width: 40%;
   margin: auto;
}
#writing{
    display: inline-block;
    text-align: center;
}
#writing h1{
    height: 100px;
    width: 700px;
    background-color: yellow;
}
#writing p{
    display: inline-block;
    width: 700px;
}
#aboutus{
    margin-top: 100px;
}
#wd3{
    float: right;

}
#wd4{
    display: inline-block;
}
#ad1{
    float: right;
}
#gd1{
    float: right;
}

#jsfnt{
    font-family: 'My Custom Font1', cursive;
	text-align:center;

}
#jsfnt1{
    font-family: 'My Custom Font', cursive;
}
#content {
    width: 100%;
    position: relative;
   
    line-height: 1.4em;
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */
@media only screen and (max-width: 479px){
    #content { width: 90%; }
}
#k{
    display: inline-block;
}
#test{
    background-color: wheat;
}
#app{
    float: right;
}
#aboutus1{
    width: 35%;
}
#s3{
    display: inline-block;
}
#contact_details{
    display: inline-block;
    margin-left: 30px;
}
#contact_details h1{
    font-family: 'My Custom Font1', cursive;
}
#contact_details dl{
    font-family: 'My Custom Font', cursive;
}
#map-container {
    height: 300px;
}
#Contact_form{
    width: 700px;
    margin-left: 20px;
}


#Main_content{
    margin-top: 5%;
    text-align: center;
    color: wheat;
    width:100%;
	display:inline-block;
}
#Main_content2{
    text-align: center;
    color: wheat;
    height: 450px;
    width:100%;
	display: inline-block;
}
#fullContent{
	text-align:center;
}
#Main_content_android{

    margin-top: 10%;
    text-align: center;
    color: wheat;
    height: 700px;
    width:100%;

}
#vdoc img{
    height: 150px;
    width: 150px;
}
#vdoc{

}
#contentDetails{

    padding-top: 52px;
    padding-left: 20px;
}
#DownloadButton{
    
    text-align: center;
    /*! color: blue; */
    /*! background-color: beige; */
}
#element ul{
    /*! text-align: center; */
    /*! color: red; */
    margin-left: 25%;
}
#project{
	text-align: center;
	color: wheat;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect5 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect5 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}

.hovereffect5:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect5 img {
  display: block;
  position: relative;
}

.hovereffect5 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect5:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect5 a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect5 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect5:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.hovereffect4 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect4 .overlay4 {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect4:hover .overlay4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect4 img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect4:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect4 h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect4 a, hovereffect4 p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect4:hover a, .hovereffect4:hover p, .hovereffect4:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#contact_details{
color:wheat;
font-size:16px;
}
#details_writing{
color:white;	
}
#comingSoon h2{
	text-align:center;
	display:inline-block;
	font-size: 900%;
color: wheat;


}